---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <!-- <div style="max-width:320px;margin:2rem auto;">
      <a href="https://mapmyvisitors.com/web/1c0ne" title="Visit tracker" style="display:block;">
        <img src="https://mapmyvisitors.com/map.png?d=Uf341eT4GWYarTxGkL949w2hBYAIbAVB9oHe0UjCFC8&cl=ffffff" alt="Visitor map" style="width:100%;height:auto;">
      </a>
    </div> -->
    <div style="text-align:center;margin:2rem 0;">
      <a href='https://mapmyvisitors.com/web/1c0ne' title='Visit tracker'>
        <img src='https://mapmyvisitors.com/map.png?cl=ffffff&w=300&t=n&d=Uf341eT4GWYarTxGkL949w2hBYAIbAVB9oHe0UjCFC8' alt='Visitor map'>
      </a>
    </div>
  </body>
</html>
